<%- include("header") -%>

         <!-- <img class="bankimage" src="pexels-cottonbro-3944405.jpg" > -->
         


        <div class = "row" >

        <div class="card1 col-lg-4 col-md-6  " style="width: 18rem;">
            <img class="card-img-top" src="all.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">View all Customers</h5>
              <p class="card-text"></p>

              <form class="" action="/customers" method="post">
                <button class="btn btn-dark" type="submit" name="button">Enquire Now</button>

              </form>
            </div>
          </div>
          <!-- <div class="card2 col-lg-4 col-md-6 " style="width: 18rem;">
            <img class="card-img-top" src="images/final.png" width="200%" height="55%" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Select and View One customer</h5>
              <p class="card-text"></p>
              <a href="#" class="btn btn-dark">Proceed</a>
            </div>
          </div> -->
          <div class="card3 col-lg-4   " style="width: 18rem;">
            <img class="card-img-top" src="mmmm.png"  width="200%" height="61%" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"> Transfer Money</h5>
              <p class="card-text"></p>
              <form class="" action="/transferinfo" method="post">
                <button class="btn btn-dark" type="submit" name="button">Transfer Money</button>

              </form>

            </div>
          </div>
        </div>

<%- include("footer") -%>
